<header id="header" class="header-section section section-dark navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-logo navbar-brand anchor-link" href="#hero">
        Open Spirometer
      </a>
    </div>

    <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">
      <ul id="header-nav" class="nav navbar-nav">
        <li><a href="#hero" class="hidden">Top</a></li>

        <li><a href="#hero">Home</a></li>
        <li><a href="#what">About</a></li>
        <li><a href="#problems">Problems</a></li>
        <li><a href="#solution">Solution</a></li>
        <li><a href="#partners">Partners</a></li>
      </ul>
    </nav>
  </div>
</header>
